<h1>Editing synctask</h1>

<% form_for(@synctask) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :source_id %><br />
    <%= f.text_field :source_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @synctask %> |
<%= link_to 'Back', synctasks_path %>
